@model Project4.Controllers.stock

@{

    ViewBag.Title = "stockControl";
    Layout = "~/Views/Shared/_AdminViewStart.cshtml";

    var stockdata = ViewBag.stockList as List<Project4.Controllers.stock>;
    var nganuactiontype = ViewBag.ActionType;
}

@Styles.Render("~/Content/styles/supplierHistory.css")

@using (Html.BeginForm("stockControl", "Stock", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.id)
    <div class="sup-content">
        <div class="sup-content-search">
            <div class="">
                <div>
                    <h2>
                        STOCK CONTROL @nganuactiontype
                    </h2>
                </div>
                <div>
                    <div class="mb-3">
                        <label class="form-label">Supplier Name</label>
                        @Html.DropDownList("supplierName", (SelectList)ViewBag.supplierlist, "-- Select Supplier --",
                            new { @class = "form-control" }
                        )
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Stock Name</label>
                        @Html.TextBoxFor(m => m.stock_name, new
                        {
                            @class = "form-control",
                            id = "stockForm",
                            placeholder = "Enter the stock name",
                        })
                        @*<input type="text" name="stockName" class="form-control" placeholder="Enter the stock name" value="@Request["stockname"]" />*@
                    </div>

                    <div class="category">
                        <label class="form-label">Category Type</label>
                        @Html.DropDownList("actionType", (SelectList)ViewBag.CategoryList, "-- Select Category --", new
                            { @class = "form-control" }
                        )
                    </div>

                        <div class="category mb-3">
                            <label for="DropDownSupplier" class="form-label">Price</label>
                            @Html.TextBoxFor(m => m.stock_price, new
                            {
                                @class = "form-control",
                                id = "stockForm",
                                placeholder = "Enter the stock price",
                            })
                        </div>
                        <div class="category mb-3">
                            <label for="DropDownSupplier" class="form-label">Amount</label>
                            @Html.TextBoxFor(m => m.stock_amount, new
                            {
                                @class = "form-control",
                                id = "stockForm",
                                placeholder = "Enter the stock amount",
                            })
                        </div>
                        <div class="category mb-3">
                            <label for="DropDownSupplier" class="form-label">Description</label>
                            @Html.TextBoxFor(m => m.description, new
                            {
                                @class = "form-control",
                                id = "stockForm",
                                placeholder = "Enter the description",
                            })
                        </div>
                </div>
            </div>
            <div class="mt-3">
                <button type="submit" name="actionTypeupd" value="@((ViewBag.ActionType == "Update") ? "Update" : "Add")" ID="ButtonAdd" class="btn btn-primary button-yellow-design button-layout mb-3">@((ViewBag.ActionType == "Update") ? "Update" : "Add")</button>
                <button type="submit" class="btn btn-primary button-yellow-design button-layout">Search</button>
            </div>
        </div>
        <div class="sup-content-table">
            <table class="table table-hover table-striped table-products display" style="outline: 1px solid #343434;" id="tableid">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.stock_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.stock_price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.stock_amount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.category_id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.supplier.name)
                        </th>
                        <th>
                            Button
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (stockdata != null)
                    {
                        foreach (var item in stockdata)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.stock_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.stock_price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.stock_amount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.category.id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.supplier.name)
                                </td>
                                @using (Html.BeginForm("LoadStock", "Stock", FormMethod.Post))
                                {
                                    <td>
                                        @Html.Hidden("id", item.id)
                                        <button type="submit" name="actionTypeupd" value="Update" class="btn btn-primary button-yellow-design button-layout" style="font-size: 12px;">Update</button>
                                        <button type="submit" name="actionTypeupd" value="Delete" class="btn btn-primary button-black-design button-layout mt-2" style="font-size: 12px;">Delete</button>
                                    </td>
                                }
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>there is no data</td>
                            <td>there is no data</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
}

<link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css" />

<script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

@Styles.Render("https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css")
@Styles.Render("https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css")

@Scripts.Render("https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js")
@Scripts.Render("https://cdn.datatables.net/1.10.19/js/jquery.dataTables")
@Scripts.Render("https://code.jquery.com/jquery-3.6.0.min.js")
@Scripts.Render("https://cdn.datatables.net/2.2.2/js/dataTables.js")

<script>
    $(document).ready(function () {
        $('#tableid').DataTable({
            "paging": true,          // Enable pagination
            "pageLength": 3,        // Set the number of rows per page
            "lengthMenu": [3, 5] // Define length options
        });
    });
</script>